<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node JS Blog Site</title>
</head>
<body>
    <nav>
        <div>
            <a href="/">Node Blog</a>
        </div>
        <ul>
            <li><a href="/">Home</li>
            <li><a href="/about">About Us</li>
            <li><a href="/blogs/create">Create New Blog</a></li>
        </ul>
    </nav>
    <h1>ABOUT US</h1>
    <h2>WELCOME</h2>
</body>
</html>